@page "/"
@using System.Globalization
@using CompanionApp.Models

@inject NeutralBaseColor NeutralBaseColor
@inject IDimensionsService DimensionsService

<PageTitle>Calculator</PageTitle>
<div>
    <EditForm Model="@Calculation" OnValidSubmit="@OnValidSubmit">
        <FluentValidationValidator/>
        <FluentValidationSummary/>

        <FluentStack Orientation="Orientation.Vertical">
            <FluentNumberField @bind-Value="Calculation.NumberOfPoint"
                               HideStep="true">
                Number of points
            </FluentNumberField>
            <FluentNumberField @bind-Value="Calculation.Dimension"
                               HideStep="true">
                Dimension
                <FluentLabel slot="end" Typo="Typography.Body">mm</FluentLabel>
            </FluentNumberField>
            <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Bottom">
                <FluentNumberField @bind-Value="@Calculation.MarginLeft" @bind-Value:after="@EvaluateMarginsLinked"
                                   Immediate="true"
                                   HideStep="true">
                    Left margin
                    <FluentLabel slot="end" Typo="Typography.Body">mm</FluentLabel>
                </FluentNumberField>
                <FluentButton Appearance="Appearance.Lightweight" OnClick="@(() => _linkMargins = !_linkMargins)" Title="Link margins">
                    <FluentIcon Value="@GetLinkButtonIcon()"></FluentIcon>
                </FluentButton>
                <FluentNumberField @bind-Value="@Calculation.MarginRight"
                                   HideStep="true"
                                   Immediate="true"
                                   Readonly="@_linkMargins">
                    Right margin
                    <FluentLabel slot="end" Typo="Typography.Body">mm</FluentLabel>
                </FluentNumberField>
            </FluentStack>
            <FluentButton Appearance="Appearance.Accent" Type="ButtonType.Submit">Calculate</FluentButton>
            <FluentDivider Style="width: 100%;" Role="DividerRole.Separator"/>
            <FluentCard @ref="_fluentCard" Class="result-card">
                @if (_resultVisible)
                {
                    <h2>Result: @_result.ToString(CultureInfo.CurrentCulture) cm</h2>
                }
                <p>
                    The calculation applies the following formula: <code>(dimension - (ml + mr)) / (points - 1)</code>
                    <br/>
                    Which in our case produces:
                    <code>
                        (@Calculation.Dimension.ToString(CultureInfo.CurrentCulture) mm - (@Calculation.MarginLeft.ToString(CultureInfo.CurrentCulture) mm + @Calculation.MarginRight.ToString(CultureInfo.CurrentCulture) mm)) / (@Calculation.NumberOfPoint.ToString() - 1)
                    </code>
                </p>
                <p>It calculates the gap between points needed for equally distributing drilling points. It also considers desired margins in return.</p>
                <p>
                    <i>If the number of points equal to one, the calculation will put it right in the middle with margins put in consideration:</i>
                    <code>(dimension - (ml + mr)) / 2</code>
                </p>
            </FluentCard>
        </FluentStack>
    </EditForm>
            <FluentNumberField TValue="float" @bind-Value="_test" Step="0.1" ></FluentNumberField>
</div>

@code {
    private FluentCard _fluentCard = default!;
    private bool _linkMargins = true;
    private float _result;
    private bool _resultVisible;

    float _test;

    public Calculation Calculation { get; set; } = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await NeutralBaseColor.SetValueFor(_fluentCard.Element, "#caba8c".ToSwatch());
        }
    }

    private Icon GetLinkButtonIcon() => _linkMargins
        ? new Icons.Regular.Size24.Link()
        : new Icons.Regular.Size24.LinkDismiss();

    private void OnValidSubmit()
    {
        _result = DimensionsService.CalculateGapInMillimeters(Calculation.Dimension, Calculation.MarginLeft, Calculation.MarginRight, Calculation.NumberOfPoint).ShiftDecimalPoint(1);
        _resultVisible = true;
    }

    private void EvaluateMarginsLinked()
    {
        if (_linkMargins)
        {
            Calculation.MarginRight = Calculation.MarginLeft;
        }
        StateHasChanged();
    }

}